.bucket-row-output {
	background: var(--white);
	border: 1px solid #eee;
	padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.bucket-row-output.is-error {
	border: 0;
	background: var(--red);
}

.bucket-row-output.is-error .CodeMirror {
	background: var(--red);
	color: #fff;
}
