.header button,
.header a {
	color: var(--grey);
	transition: color 100ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

.header:hover button,
.header:hover a {
	color: var(--black);
}

.home-page .header button,
.home-page .header a {
	color: var(--black) !important;
}
