.loading-indicator {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: .4rem 1rem;
	border: 1px solid lighten(#526ed0, 20%);
	border-radius: 4px;
	color: #526ed0;
}

.loading-indicator img {
	width: 12px;
	margin-right: 6px;
}
