@import 'basscss-defaults';
@import 'basscss-base-reset';
@import 'basscss-base-typography';
@import 'basscss-base-forms';
@import 'basscss-align';
@import 'basscss-grid';
@import 'basscss-layout';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'basscss-positions';
@import 'basscss-typography';
@import 'basscss-type-scale';
@import 'basscss-responsive-states';
@import 'basscss-responsive-white-space';
@import 'basscss-borders';
@import 'basscss-btn';
@import 'basscss-btn-primary';
@import 'basscss-btn-outline';
@import '../node_modules/codemirror/lib/codemirror.css';
@import '../node_modules/codemirror/theme/neo.css';

:root {
	--font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
	--body-font-size: 1.8em;
	--h1: 2.4rem;
	--h2: 2.2rem;
	--h3: 2rem;
	--h4: 1.8rem;
	--h5: 1.6rem;
	--h6: 1.4rem;
	--container-width: 90rem;
	--button-background-color: transparent;
	--button-color: #fff;
	--button-padding-y: 1rem;
	--black: #333;
	--blue: #41B3FF;
	--red: #e54331;
	--white: #fff;
}

html {
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
	font-size: 62.5%;
}

body {
	color: var(--black);
	text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: var(--blue);
}

@import './components/loading-indicator';
@import './components/breadcrumb';
@import './components/bucket-row';
@import './components/header';
@import './components/bucket';
@import './components/button';
@import './components/editor';
@import './colors';
@import './utils';

.logo-image {
	width: 64px;
}


/* npm, github and heart on homepage */
.npm-logo, .github-logo, .heart-icon {
	height: 22px;
  position: relative;
}

.npm-logo { top: 4px }
.github-logo { top: 2px }
.heart-icon { top: 4px }

.map {
	height: 400px;
}
